body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.features-wrapper {
    background-color: #000000;
    padding: 4em 0;
    text-align: center;
}

.navbar-nav .nav-link {
    color: white; /* Couleur du texte blanc */
}

.navbar {
    background-color: #6ab446;
    padding: 15px;
}

.page-header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-color: #A9A9A9;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

.page-header .description {
    position: relative;
    padding-top: 50px;
    text-align: center;
}

.page-header .description h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.page-header .description h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

.property-section {
    margin-bottom: 30px;
    display: flex;
    align-items: center; /* Align vertically with the center */
    margin-left: 120px;
}

.carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrousel .images {
    display: flex;
    overflow: hidden;
    width: 80%;
    justify-content: center;
}

.carrousel .images img {
    width: 416px;
    height: 278px;
    object-fit: cover;
    margin: 5px;
}

.carrousel #buttons {
    margin-top: 10px;
}

.carrousel .prev, .carrousel .next {
    background-color: #6ab446;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carrousel .prev:hover, .carrousel .next:hover {
    background-color: #56732c;
}

.carrousel .active {
    display: block;
}

.property-details {
    margin-left: 0px;
    text-align: left;
}

footer.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 30px 0;
}

footer.page-footer a {
    color: white;
}

footer.page-footer a:hover {
    text-decoration: none;
}

footer.page-footer .map-container {
    position: relative;
    height: 200px;
    width: 100%;
}

#achat-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 130px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#achat-button:hover {
    transform: scale(1.1);
}
