body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background:#6ab446;
}

.page-header {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    background-size: cover;
    background-color: #A9A9A9;
    color: white;
}

.page-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #A9A9A9;
}

.page-header .description {
    position: relative;
    padding-top: 50px;
    text-align: center;
}

.page-header .description h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.page-header .description h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

.property-section {
    margin-bottom: 30px;
}

.carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrousel .images {
    display: flex;
    overflow: hidden;
    width: 80%;
    
    justify-content: center;
}

.carrousel .images img {
    width: 208px; 
    height: 139px; 
    object-fit: cover; 
    margin: 5px;
}

.carrousel #buttons {
    margin-top: 10px;
}

.carrousel button {
    background-color: #6ab446;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.carrousel button.prev {
    margin-right: 10px;
}

.navbar {
    background-color: #6ab446;
    padding: 15px;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    margin-right: 15px;
}

.navbar .form-inline .input-group {
    width: 250px;
}

.navbar .form-inline .input-group .form-control {
    border: none;
    border-radius: 0;
}

.navbar .form-inline .input-group .btn {
    border-radius: 0;
}

