body {
    font-family: Arial, Helvetica, sans-serif;
    color: #003300;
}

h2 {
    background-color: #cce8ff;
    color: #003366;
}

h3 {
    background-color: #cce8ff;
    color: #006600;
}

dd {
    font-style: italic;
    font-size: .90em;
    line-height: 200%;
}

#wrapper {
    margin: auto;
    background-color: aliceblue;
    color: #003300;
    padding: 10px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header, #nav, #footer, #section {
    flex-shrink: 0;
    width: 100%;
}

#header {
    margin: auto;
    background-color: white;
    color: #003300;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img {
    height: 100px;
    max-width: 100%; 
    height: auto; 
    margin-left: 200px; 
}

#nav {
    margin: auto;
    background-color: #cce8ff;
    color: #003300;
    display: flex;
    justify-content: center;
    padding: 5px;
}

#section {
    display: flex;
    flex-grow: 1;
    font-size: .60em;
    font-style: italic;
    background-color: white;
    color: #003300;
    margin: auto;
    padding: 5px;
}

#footer {
    font-size: .60em;
    font-style: italic;
    display: flex;
    justify-content: center;
    background-color: #DCDCDC;
    color: #003300;
    padding: 20px;
}

#leftcolumn {
    width: 25%;
    background-color: aliceblue;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 5px;
}

#rightcolumn {
    width: 75%;
    padding: 10px;
    background-color: aliceblue;
    box-sizing: border-box;
}

.property-section {
    margin-bottom: 10px;
}

.carrousel {
    position: relative;
    width: 100%;
    text-align: center;
}

.carrousel .images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrousel .images img {
    display: none;
    width: 280px;
    height: 220px;
    margin: auto;
}

.carrousel .images img.active {
    display: block;
}

#buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

#buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.rounded-button {
    margin-left: 40px;
    margin-top: 25px;
    margin-right: 25px;
    height: 50px;
    width: 200px;
    background-color: rgb(89, 125, 152);
    color: white;
    border: none;
    border-radius: 10px; 
    font-size: 16px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.rounded-button:hover {
    background-color: rgb(58, 81, 99);
}
